body {
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f9;
}

.calculadora {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 0 auto;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

label {
    font-size: 16px;
    margin-bottom: 5px;
    text-align: center;
    width: 100%;
}

label[for="operando1"]:last-of-type,
label[for="operando2"]:last-of-type,
label[for="resultado"]:last-of-type {
    font-size: 14px;
    color: #777;
    margin-top: -8px;
    margin-bottom: 15px;
    text-align: center;
}


input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #45a049;
}

input[readonly] {
    background-color: #f0f0f0;
    cursor: not-allowed;
}

