.multimedia {
    padding-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-style: italic ;
}

.audio {
    display: none;
    width: 100%;
    margin-top: 20px;
    background-color: #f9f4ef;
    padding: 10px;
    border-radius: 10px;
}

.audio:target {
    display: block;
}
